---
---
/* Variables */
$headings: 'Montserrat', sans-serif;
$body: 'Roboto', sans-serif;

/* Global */
body {
	font-family: $body;
	font-weight: 300; //Light

	h1,h2,h3,h4,h5,h6 {
		font-family: $headings;
	}
	
	a {
		color:#343a40;
		&:hover {
			color:#181C1F;
		}
		&.read-more {
			text-decoration: underline;
		}	
	}
	p {
		a {
			color:#007bff;
			&:hover {
				color:#0056b3;
			}
		}
	}

	table {
		thead {
			tr {
				th {
					padding: 4px;
				}
			}
		}
		tbody {
			tr {
				&:nth-child(odd) {
					background: #f6f8fa;
				}
				td {
					border: 1px solid #dfe2e5;
					padding: 4px;
				}
			}	
		}		
	}

	.navbar {
		background-color: #1F1F1F!important;
		padding: 5px 0px;

		.navbar-brand {
			font-family: 'Montserrat', sans-serif;
			font-weight: 700; //Bold
			font-size: 30px;
		}
	}	

	.main {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,ffffff+100 */
		background: #eeeeee; /* Old browsers */
		background: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 20%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #eeeeee 0%,#ffffff 20%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #eeeeee 0%,#ffffff 20%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

		.content {
			position:relative;
			background-color:#FFF;
			margin-top:-60px;
			padding:30px;
			.post {
				h1 {
					padding-bottom:20px;
				}
				.entry {

				}
				.date {

				}
			}
		}
	}

	pre.highlight, p>code {
		background-color:#f6f8fa;
		font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
	    border-radius: 3px;
	    font-size: 85%;
	    line-height: 1.45;
	    overflow: auto;
	    padding: 16px;
	    margin-top:10px;
	    margin-bottom:10px;
	}
	p>code {
		padding:4px;
	}
}