---
---
body {
	font-family: 'Raleway', sans-serif;

	h1,h2,h3,h4,h5,h6 {
		font-family: 'Montserrat', sans-serif;
		margin-top:20px;
	}
	h1 {
		border-bottom:1px solid #EEEEEE;
		margin-bottom: 30px;
	}

	h2 {
		margin-top: 50px;
	}
	a {
		color:#343a40;
		&:hover {
			color:#181C1F;
		}
		&.read-more {
			text-decoration: underline;
		}	
	}

	table {
		tr {
			&:nth-child(odd) {
				background: #f6f8fa;
			}
			td {
				border: 1px solid #dfe2e5;
			}
		}
	}	

	.post {
		padding-top:30px;
		padding-bottom:30px;
		.entry {

		}
		.date {

		}
	}

	pre.highlight, p>code {
		background-color:#f6f8fa;
		font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
	    border-radius: 3px;
	    font-size: 85%;
	    line-height: 1.45;
	    overflow: auto;
	    padding: 16px;
	}
	p>code {
		padding:4px;
	}
}