<footer>
	<div class='container'>
		<div class='row'>
			<div class='col-6'>
				&copy;{{ site.time | date: '%Y' }}
			</div>
			<div class='col-6'>
				<div><a href='https://github.com/Siege36'><i class="fab fa-github-square"></i> Github</a></div>
				<div><a href='https://www.linkedin.com/in/carl-herrmann-8a213a47/'><i class="fab fa-linkedin"></i> LinkedIn</a></div>
				<div><a href='mailto:CJ@2rs2ns.com'><i class="fas fa-envelope-square"></i> Email</a></div>
			</div>
		</div>
	</div>	
</footer>

{% include analytics.html %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>